.mot-status {
  padding: 0.2rem;
  border-radius: 5px;
}
.pass {
  border: 1px solid hsl(141, 71%, 48%);
}
.c {
  padding: 0.5rem 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fail {
  border: 1px solid hsl(348, 100%, 61%);
}
.is-invisible {
  display: none;
}
.postcode {
  padding: 1rem;
}
.post-info {
  padding-top: 0.5rem;
}
.columns {
  width: 95%;
  margin: 0 auto;
}
.column {
  margin-bottom: 1rem;
  min-height: 100%;
}

.urlinput button {
  margin: 0.5rem 0;
  width: 100%;
}

.card-content,
.card-footer {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.card-content .title {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  max-height: 4.5rem;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*-------------------------------------- dropdown styling */
li {
  list-style: none;
  transition: all 0.2s;
  margin-bottom: 0.5rem;
}
ol li::after {
  display: block;
  content: '';
  height: 1px;
  width: 75%;
  margin: 0.5rem auto;
  background: #80808071;
}
li:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: #6b6b6b3d;
}

/*---------------------------------- dropdown on clicking on more MOT info */

.expand-dropdown-button {
  background-color: rgba(165, 165, 165, 0.562);
  border-radius: 5px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active,
.expand-dropdown-button:hover {
  color: white;
  background-color: rgba(97, 96, 96, 0.562);
}

.expand-dropdown-container {
  text-align: center;
  padding: 0.5rem;
  width: 20rem;
}
.mot-expand-btn {
  width: 75%;
  margin: 0.5rem auto;
  height: 2rem;
}
.icon {
  transition: all 0.5s;
}

.is-active .main-arrow,
.active .icon {
  transform: rotate(180deg);
}
.dropdown-menu {
  display: block;
  transition: all 0.5s;
  left: 90vw;
}
.is-active > .dropdown-menu {
  left: 0;
}
.menu-container {
  opacity: 0;
  transition: all 0.5s;
}

.is-active > .menu-container {
  opacity: 1;
}
.delete {
  background-color: hsl(348, 100%, 61%);
  transition: all 0.5s;
}
.delete:hover {
  background-color: hsl(348, 100%, 84%);
  transform: rotate(90deg);
}
/* ------------------------------------settings modal styling */
.mdl {
  height: 90vh;
  width: 95vw;
  background-color: white;
  z-index: 5000;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}
.mdl-labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mdl-labels label {
  height: 4rem;
  padding: 0.5rem;
}
/* -----------------------------------checkboxes */
.checkbox {
  width: 9rem;
  margin-bottom: 0.5rem;
}
.check-name {
  width: 75%;
  padding-left: 0.5rem;
}
label input[type='checkbox'] + div {
  opacity: 1;
  transition: all 0.2s;
}
label input[type='checkbox']:checked + div {
  opacity: 0.2;
  transition: all 0.2s;
}
label input[type='checkbox'] + div:hover {
  opacity: 0.2;
}
label input[type='checkbox']:checked + div:hover {
  opacity: 1;
}
.flx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
.subs h2,
.subs h3 {
  width: 45%;
  text-align: center;
}

.subtitle h2 {
  padding: 0;
  margin: 0;
}
.subtitle2 h3 {
  font-size: 0.3rem;
}
/*----------------------------------- multiline hover class */
.hover {
  background-color: #6b6b6b3d;
  border-radius: 5px;
}
/* ------------------------------------images */
.image img {
  height: 20rem;
  object-fit: cover;
}
img {
  width: 100%;
  height: 100%;
}
/*-------------------------------- image arrows */
.card-image {
  position: relative;
}
.buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.current {
  position: absolute;
  width: 100%;
  vertical-align: bottom;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
}
.txt {
  background: #ffffff9d;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
}
.img-magnify {
  width: 100%;
  height: 100%;
  color: rgba(177, 177, 177, 0.158);
}
.img-magnify:hover {
  color: rgba(255, 248, 248, 0.705);
  cursor: pointer;
}
button:focus {
  outline: none !important;
}
button.prev,
button.next {
  height: 100%;
  margin-bottom: 0 !important;
  width: 20%;
  color: white;
  border: none;
  border-radius: 0;
  background: transparent;
}
.prev:hover,
.next:hover {
  background: rgba(139, 139, 139, 0.438);
}
/* ------------------------------------------------------large image modal  */
.img-mdl {
  height: auto;
  width: auto;
  max-height: 95vh;
  max-width: 80vw;
  border-radius: 5px;
  background: #ffffff1a;
  overflow: hidden;
}
.img-mdl img {
  width: 100%;
  height: 100%;
}
.img-mdl button.prev,
.img-mdl button.next {
  width: 10%;
}
.drp {
  left: -7rem;
  max-height: 50vh;
  overflow: scroll;
  border-radius: 5px;
  border: 1px solid #8b8b8b91;
}

/* ----------------------------------------------------card foot */
.card-footer {
  display: flex;
  justify-content: space-around;
}
.errors {
  color: hsl(348, 100%, 61%);
  width: 100%;
  text-align: center;
  padding: 2rem;
}
footer {
  margin-top: 3rem;
  height: 50px;
}
.sharelink {
  width: 25%;
}
/* -------------------------------------------- google maps box */
.travel {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 0 15px 15px 15px;
  border: 1px solid rgba(236, 17, 17, 0.534);
  padding: 0.5rem;
}
.km {
  min-width: 5rem;
}
/* -----------------------------------for screens bigger than 768px (tablet)*/
@media only screen and (min-width: 768px) {
  .inputs-container {
    width: 50%;
  }
  .mdl {
    width: 60vw;
    height: 75vh;
  }
  .column {
    max-width: 45%;
    margin: 0.5rem auto;
  }
  .dropdown-item > .column {
    width: 100%;
  }
  .menu-container {
    width: 15rem;
  }
}
/* --------------------------------for screens bigger then 1024px (laptop)*/
@media only screen and (min-width: 1024px) {
  button.next,
  button.prev {
    width: 10%;
  }
  .column {
    max-width: 33%;
    margin: 1rem auto;
  }
  .mdl {
    width: 40rem;
    height: 35rem;
  }
  .inputs-container {
    width: 50%;
  }
  .urlinput button {
    margin: 0.5rem auto;
    width: 25%;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  .image img {
    max-height: 40rem;
  }
  img {
    object-fit: fill;
  }
  .subs {
    height: unset;
  }

  .drp {
    left: 0;
    overflow: unset;
    max-height: unset;
    border-radius: 0;
    border: none;
  }
}
/* -------------------------------for screens bigger then 1216px widescreen */
@media only screen and (min-width: 1216px) {
  .column {
    max-width: 33%;
    margin: 1rem auto;
  }
  .inputs-container {
    width: 40%;
  }

  main {
    width: 80%;
    max-width: 100rem;
  }

  .image img {
    max-height: 40rem;
  }
  .main-item {
    display: flex;
    justify-content: space-around;
  }
  .mot-main-info {
    width: 85%;
    margin: 0 auto;
  }
  .mot-expand-btn {
    width: 10%;
    margin: 0.5rem;
    height: 4rem;
  }
}
